.footer{
  background-color: rgb(14, 14, 14);
  color: azure;
  text-align: center;
  padding-bottom: 1rem;
}

.mainscreen-header {
  text-align: center;
  font-size: 80px;
  background-color: rgb(4, 56, 70);
  color: aliceblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
}